<footer>
    <section class="container text-center">
        <section class="footer-links">
            <% for (var key in theme.footer_links) { %>
                <a href="<%= theme.footer_links[key].link %>" target="_blank" title="QuebraDev <%= key %>"><%- fa_inline(key, {prefix: 'fab'}) %></a>
            <% } %>
            <a href="http://feeds.soundcloud.com/users/soundcloud:users:449199045/sounds.rss" target="_blank" title="QuebraDev RSS"><%- fa_inline('rss') %></a>
            <a href="mailto:quebradev@gmail.com" title="Enviar email - QuebraDev"><%- fa_inline('envelope') %></a>
        </section>

        <div class="quebradev-footer">QuebraDev - 2018</div>
    </section>
</footer>
<%- partial('google-analytics') %>
