<footer>
    <section class="container text-center">
        <section class="footer-support">
            <h4>Patrocinadores</h4>
            <% for (var key in theme.support_links) { %>
                <a href="<%= theme.support_links[key].link %>" target="_blank" title="<%= key %>">
                    <img src="/images/<%= key %>.png" alt="<%= key %>" height="<%= theme.support_links[key].height %>">
                </a>
            <% } %>
        </section>
    </section>

    <section class="container text-center">
        <section class="footer-links">
            <% for (var key in theme.footer_links) { %>
                <a href="<%= theme.footer_links[key].link %>" target="_blank" title="QuebraDev <%= key %>"><%- fa_inline(key, {prefix: 'fab'}) %></a>
            <% } %>
            <a href="https://anchor.fm/s/1c1d0328/podcast/rss" target="_blank" title="QuebraDev RSS"><%- fa_inline('rss') %></a>
            <a href="mailto:quebradev@gmail.com" title="Enviar email - QuebraDev"><%- fa_inline('envelope') %></a>
        </section>

        <div class="quebradev-footer">QuebraDev - <%= new Date().getFullYear() %></div>
    </section>
</footer>
<%- js('js/app') %>
<%- partial('google-analytics') %>
