<div class="mediakit-wrapper">
    <div class="row">
        <div class="col-12 text-center">
            <h1>O podcast mais perifatécnico do planeta!</h1>
            <div class="subtitle">
                <p>2.000 - 3.000 Pageviews / mês</p>
                <p>800 - 1.000 Novas Visitas / mês</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-center">
            <h3>Nosso alcance nas redes</h3>
            
            <div class="row">
                <div class="col-12 col-lg-6 social-box">
                    <div class="row">
                        <div class="col-12 social-icon">
                            <%- fa_inline('twitter', {prefix: 'fab'}) %>
                        </div>
                        <div class="col-12 social-info">
                            <p>2100+ Seguidores no Twitter <br> 200 - 300 Novos seguidores / mês <br> 50.000 - 60.000 Impressões / mês</p>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 social-box">
                    <div class="row">
                        <div class="col-12 social-icon">
                            <%- fa_inline('instagram', {prefix: 'fab'}) %>
                        </div>
                        <div class="col-12 social-info">
                            <p>200+ Seguidores no Instagram <br> 900 - 1.000 Impressões / mês</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 social-box">
                    <div class="row">
                        <div class="col-12 social-icon">
                            <%- fa_inline('facebook', {prefix: 'fab'}) %>
                        </div>
                        <div class="col-12 social-info">
                            <p>180+ Seguidores no Facebook <br> 100 - 200 Alcance / mês</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 social-box">
                    <div class="row">
                        <div class="col-12 social-icon">
                            <%- fa_inline('soundcloud', {prefix: 'fab'}) %>
                        </div>
                        <div class="col-12 social-info">
                            <p>80+ Seguidores no Soundcloud</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row spotlight">
                <div class="col-12 social-box">
                    <div class="row">
                        <div class="col-12 social-icon">
                            <%- fa_inline('clock', {prefix: 'far'}) %>
                        </div>
                        <div class="col-12 social-info">
                            <p>1m46s Permanência no site</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 social-box">
                    <div class="row">
                        <div class="col-12 social-icon">
                            <%- fa_inline('soundcloud', {prefix: 'fab'}) %>
                        </div>
                        <div class="col-12 social-info">
                            <p>23.000 Plays Total no Soundcloud <br> 4.500 - 5.000 Plays / mês</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-center">
            <h3>Perfil dos nossos ouvintes</h3>

            <div class="row">
                <div class="col-12 col-lg-6 perfil">
                    <div class="row">
                        <div class="col-12 social-info">
                            <p>Faixa Etária</p>
                            <ul>
                                <li>25-34 anos - 64.65%</li>
                                <li>18-24 anos - 18.21%</li>
                                <li>35-44 anos - 12.90%</li>
                                <li>45-54 anos - 2.52%</li>
                                <li>55-64 anos - 1.19%</li>
                                <li>65+ anos - 0.53%</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 perfil">
                    <div class="row">
                        <div class="col-12 social-info">
                            <p>Localização</p>
                            <ul>
                                <li>Sudeste - 67,31%</li>
                                <li>Sul - 13,89%</li>
                                <li>Nordeste - 7,84%</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>