<div class="mediakit-wrapper">
    <div class="row">
        <div class="col-12 text-center">
            <h1>O podcast mais perifatécnico do planeta!</h1>
            <div class="subtitle">
                <p>3.000 - 4.000 Pageviews / mês</p>
                <p>1.500 - 2.000 Novas Visitas / mês</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-center">
            <h3>Nosso alcance nas redes</h3>
            
            <div class="row">
                <div class="col-12 col-lg-6 social-box">
                    <div class="row">
                        <div class="col-12 social-icon">
                            <%- fa_inline('twitter', {prefix: 'fab'}) %>
                        </div>
                        <div class="col-12 social-info">
                            <p>4800+ Seguidores no Twitter <br> 400 - 500 Novos seguidores / mês <br> 150.000 - 160.000 Impressões / mês</p>
                        </div>
                    </div>
                </div>
        
                <div class="col-12 col-lg-6 social-box">
                    <div class="row">
                        <div class="col-12 social-icon">
                            <%- fa_inline('instagram', {prefix: 'fab'}) %>
                        </div>
                        <div class="col-12 social-info">
                            <p>1.100+ Seguidores no Instagram <br> 2.000 - 3.000 Impressões / mês</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 social-box">
                    <div class="row">
                        <div class="col-12 social-icon">
                            <%- fa_inline('facebook', {prefix: 'fab'}) %>
                        </div>
                        <div class="col-12 social-info">
                            <p>450+ Seguidores no Facebook <br> 400 - 500 Alcance / mês</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 social-box">
                    <div class="row">
                        <div class="col-12 social-icon">
                            <%- fa_inline('clock', {prefix: 'far'}) %>
                        </div>
                        <div class="col-12 social-info">
                            <p>1m46s Permanência no site</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row spotlight">
                <div class="col-12 social-box">
                    <div class="row">
                        <div class="col-12 social-icon">
                            <%- fa_inline('soundcloud', {prefix: 'fab'}) %>
                        </div>
                        <div class="col-12 social-info">
                            <p>71.076 Plays Total no Soundcloud <br> 7.000 - 8.000 Plays / mês</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 social text-center">
            <h3>Perfil dos nossos ouvintes</h3>

            <div class="row">
                <div class="col-12 col-lg-6 perfil">
                    <div class="row">
                        <div class="col-12 social-info">
                            <p>Faixa Etária</p>
                            <ul>
                                <li>25-34 anos - 60.25%</li>
                                <li>18-24 anos - 24.16%</li>
                                <li>35-44 anos - 11.52%</li>
                                <li>45-54 anos - 2.47%</li>
                                <li>55-64 anos - 1.00%</li>
                                <li>65+ anos - 0.61%</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 perfil">
                    <div class="row">
                        <div class="col-12 social-info">
                            <p>Localização</p>
                            <ul>
                                <li>Sudeste - 73.87%</li>
                                <li>Sul - 11.39%</li>
                                <li>Nordeste - 5.4%</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center contact-email">
        <p>Entre em contato com a gente através do email <a href="mailto:quebradev@gmail.com">quebradev@gmail.com</a></p>
    </div>
</div>