<div class="members-wrapper row">        
    <div class="col-12">
        <p>O QuebraDev é um podcast de origem periférica que surgiu com o objetivo de representar quem é de quebrada na área de tecnologia, além de tentar trazer para o cerne dessa profissão quem tem interesse em ingressar (priorizando o diálogo com quem é de quebrada).</p>
        <p>Temos a estrutura bem informal e queremos levar diferentes assuntos aos seus ouvidos, são pautas técnicas e não técnicas que abrangem assuntos técnológicos, sociais e políticos que atingem diretamente a vida do periférico, bem como da sociedade como um todo.</p>
        <p>Além de um canal informativo e sério, o QuebraDev é cultura das ruas e humor, é o podcast mais perifatécnico do planeta.</p>
        
        <h1 class="bordered-left">Vozes do QuebraDev</h1>
    </div>

    <% data.forEach(function(member){ %>
        <div class="member col-6 col-sm-4 col-lg-3 row">
            <div class="member-photo col-12">
                <img src="/images/<%= member.photo %>" alt="<%= member.name %>" class="col-12">

                <div class="member-info col-12">
                    <div class="member-name"><%= member.name %></div>
                    <div class="member-links">
                        <a href="https://twitter.com/<%= member.twitter %>" target="_blank" title="<%= member.name %> Twitter"><%- fa_inline('twitter', {prefix: 'fab'}) %></a>
                        <a href="https://github.com/<%= member.github %>" target="_blank" title="<%= member.name %> GitHub"><%- fa_inline('github', {prefix: 'fab'}) %></a>
                        <a href="<%= member.linkedin %>" target="_blank" title="<%= member.name %> LinkedIn"><%- fa_inline('linkedin', {prefix: 'fab'}) %></a>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>