<div class="members-wrapper row">
    <div class="col-12">
        <h3 class="bordered-left">Vozes do QuebraDev</h3>
    </div>

    <% members.forEach(function(member){ %>
        <div class="member col-6 col-sm-4 col-lg-3 row">
            <div class="member-photo col-12">
                <img src="/images/<%= member.photo %>" alt="<%= member.name %>" class="col-12">

                <div class="member-info col-12">
                    <div class="member-name"><%= member.name %></div>
                    <div class="member-links">
                        <a href="https://twitter.com/<%= member.twitter %>" target="_blank" title="<%= member.name %> Twitter"><%- fa_inline('twitter', {prefix: 'fab'}) %></a>
                        <a href="https://github.com/<%= member.github %>" target="_blank" title="<%= member.name %> GitHub"><%- fa_inline('github', {prefix: 'fab'}) %></a>
                        <a href="<%= member.linkedin %>" target="_blank" title="<%= member.name %> LinkedIn"><%- fa_inline('linkedin', {prefix: 'fab'}) %></a>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>