<% if (post.season == season) { %>
<article class="col-12 col-lg-6" data-post-type="<%= post.type %>">
    <div class="podcast-item row">
        <div class="col-12">
            <a href="<%- url_for(post.path) %>" title="<%= post.title %>">
                <h1 class="podcast-title"><%= post.title %></h1>
            </a>
        </div>
        <a href="<%- url_for(post.path) %>" title="<%= post.title %>" class="podcast-cover col-12 col-md-5">
            <img src="<%= post.cover %>" alt="<%= post.title %> Cover" class="col-12">
        </a>
        <div class="podcast-body col-12 col-md-6">
            <a href="<%- url_for(post.path) %>" title="<%= post.title %>"><p class="podcast-description"><%= post.description %></p></a>
            <%- partial('_partial/date', {post: post}) %>
        </div>
    </div>
</article>
<% } %>