<section class="podcasts-wrapper">
    <h1 class="page-title">Episódios</h1>

    <div class="row">
        <div class="filter col-12 col-lg-4">
            <h4>Filtre por assunto:</h4>
            <select id="select-podcast-type" class="form-control">
                <option value="all">Todos</option>
                <% for (var key in theme.types) { %>
                    <option value="<%= key %>"><%= theme.types[key].name %></option>
                <% } %>
            </select>

            <p class="ep-count"><%= page.posts.length %> episódios encontrados.</p>
        </div>

        <% for (var key in theme.types) { %>
            <div class="type-description text-right col-12 col-lg-8" data-description-type="<%= key %>">
                <h4><%= theme.types[key].name %></h4>
                <p><%= theme.types[key].description %></p>
            </div>
        <% } %>
    </div>

    <div class="row">
        <% page.posts.each(function(post){ %>
            <article class="col-12 col-lg-6" data-post-type="<%= post.type %>">
                <div class="podcast-item row">
                    <div class="col-12">
                        <a href="<%- url_for(post.path) %>" title="<%= post.title %>">
                            <h1 class="podcast-title"><%= post.title %></h1>
                        </a>
                    </div>
                    <a href="<%- url_for(post.path) %>" title="<%= post.title %>" class="podcast-cover col-12 col-md-5">
                        <img src="<%= post.cover %>" alt="<%= post.title %> Cover" class="col-12">
                    </a>
                    <div class="podcast-body col-12 col-md-6">
                        <a href="<%- url_for(post.path) %>" title="<%= post.title %>"><p class="podcast-description"><%= post.description %></p></a>
                        <%- partial('_partial/date', {post: post}) %>
                    </div>
                </div>
            </article>
        <% }) %>
    </div>
</section>
<%- partial('pagination', {type: 'page'}) %>