<section class="podcasts-wrapper">
    <h1 class="page-title">Episódios</h1>

    <div class="row">
        <div class="filter col-12 col-lg-4">
            <h4 id="filtrarAssunto">Filtre por assunto:</h4>
            <select id="select-podcast-type" class="form-control" aria-labelledby="filtrarAssunto">
                <option value="all">Todos</option>
                <% for (var key in theme.types) { %>
                    <option value="<%= key %>"><%= theme.types[key].name %></option>
                <% } %>
            </select>

            <p class="ep-count"><%= page.posts.length %> episódios encontrados.</p>
        </div>

        <% for (var key in theme.types) { %>
            <div class="type-description text-right col-12 col-lg-8" data-description-type="<%= key %>">
                <h4><%= theme.types[key].name %></h4>
            </div>
        <% } %>
    </div>

    <div class="row">
	<div class="row col-12 season-block">
            <div class="col-12 season-title">
                <h3>Temporada 5 - <span>Início 10/03/2022</span></h3>
            </div>
            <% page.posts.each(function(post){ %>
                <%- partial('_partial/podcast-block', {post: post, season: 5}) %>
            <% }) %>
        </div>

        <div class="row col-12 season-block">
            <div class="col-12 season-title">
                <h3>Temporada 4 - <span>Início 01/03/2021 à 29/10/2021 - Encerrada</span></h3>
            </div>
            <% page.posts.each(function(post){ %>
                <%- partial('_partial/podcast-block', {post: post, season: 4}) %>
            <% }) %>
        </div>

        <div class="row col-12 season-block">
            <div class="col-12 season-title">
                <h3>Temporada 3 - <span>Início 09/03/2020 à 06/07/2020 - Encerrada</span></h3>
            </div>
            <% page.posts.each(function(post){ %>
                <%- partial('_partial/podcast-block', {post: post, season: 3}) %>
            <% }) %>
        </div>

        <div class="row col-12 season-block">
            <div class="col-12 season-title">
                <h3>Temporada 2 - <span>Início 11/03/2019 à 30/12/2019 - Encerrada</span></h3>
            </div>
            <% page.posts.each(function(post){ %>
                <%- partial('_partial/podcast-block', {post: post, season: 2}) %>
            <% }) %>
        </div>
        
        <div class="row col-12 season-block">
            <div class="col-12 season-title">
                <h3>Temporada 1 - <span>14/05/2018 à 28/01/2019 - Encerrada</span></h3>
            </div>
            <% page.posts.each(function(post){ %>
                <%- partial('_partial/podcast-block', {post: post, season: 1}) %>
            <% }) %>
        </div>
    </div>
</section>
<%- partial('pagination', {type: 'page'}) %>
